/* start role */
body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.logo .icon {
  color: #f7b614;
}
/* end role */

/* start header  */
.NavSection {
  width: 103%;
  height: auto;
  background-color: #282932;
  background-image: url("../images/slider-glob.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 0 0 2000px 0px;
}
/* start nav  */
.NavSection nav {
  background-color: #282932 !important;
  border-bottom: 1px dashed #545454;
}
/* start logo */
.logo {
  display: inline;
}
.logo .icon {
  font-size: 30px;
  margin-bottom: 3px;
}
.logo span {
  color: white !important;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
}
/* end logo */
/* start navbar-item */
.NavSection nav .navbar-item * {
  color: white !important;
}
.NavSection nav .navbar-item ul {
  margin: 0 auto;
}
.NavSection nav .navbar-item ul li {
  margin-left: 15px;
}
.NavSection nav .navbar-item ul .active,
.NavSection nav .navbar-item ul li a:hover {
  color: #f7b614 !important;
}
/* end navbar-item */

/* start navbar-icon */

.NavSection nav #navbarNav ul li {
  margin-left: 15px;
}
.NavSection nav #navbarNav .phone span {
  color: #f7b614;
  font-weight: 700;
  margin-left: 5px;
}
.NavSection nav #navbarNav .fa-phone {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
/* end navbar-icon */
/* end nav  */
#DelivaryItems{
  font-family: -webkit-pictograph;
  font-size: 500;
}
.img-cart {
  display: block;
  max-width: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
table tr td {
  border: 1px solid #ffffff;
}

table tr th {
  background: #eee;
}
#bodyTrans,
#bodyDelivary,
#HeadTrans {
  display: none;
}
.btnColor {
  background-color: #f7ad26 !important;
}
.card-1 {
  box-shadow: 2px 2px 10px 0px #e3e3e3;
}

hr {
  background-color: rgba(248, 248, 248, 0.667);
}

.bold {
  font-weight: 500;
}

.change-color {
  color: #ab47bc !important;
}

.card-2 {
  box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
}

.fa-circle.active {
  font-size: 8px;
  color: #ab47bc;
}

.fa-circle {
  font-size: 8px;
  color: #aaa;
}

.rounded {
  border-radius: 2.25rem !important;
}

.progress-bar {
  background-color: #ab47bc !important;
}

.progress {
  height: 5px !important;
  margin-bottom: 0;
}

.invoice {
  position: relative;
  top: -70px;
}

.Glasses {
  position: relative;
  top: -12px !important;
}

.card-footer {
  background-color: #ab47bc;
  color: #fff;
}

h2 {
  color: rgb(78, 0, 92);
  letter-spacing: 2px !important;
}

.display-3 {
  font-weight: 500 !important;
}

@media (max-width: 479px) {
  .invoice {
    position: relative;
    top: 7px;
  }

  .border-line {
    border-right: 0px solid rgb(226, 206, 226) !important;
  }
}

@media (max-width: 700px) {
  h2 {
    color: rgb(78, 0, 92);
    font-size: 17px;
  }

  .display-3 {
    font-size: 28px;
    font-weight: 500 !important;
  }
}

.card-footer small {
  letter-spacing: 7px !important;
  font-size: 12px;
}

.border-line {
  border-right: 1px solid rgb(226, 206, 226);
}
