/* start role */
body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.logo .icon {
  color: #f7b614;
}
/* end role */

/* start header  */
.NavSection {
  width: 103%;
  height: auto;
  background-color: #282932;
  background-image: url("../images/slider-glob.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 0 0 2000px 0px;
}
/* start nav  */
.NavSection nav {
  background-color: #282932 !important;
  border-bottom: 1px dashed #545454;
}
/* start logo */
.logo {
  display: inline;
}
.logo .icon {
  font-size: 30px;
  margin-bottom: 3px;
}
.logo span {
  color: white !important;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
}
/* end logo */
/* start navbar-item */
.NavSection nav .navbar-item * {
  color: white !important;
}
.NavSection nav .navbar-item ul {
  margin: 0 auto;
}
.NavSection nav .navbar-item ul li {
  margin-left: 15px;
}
.NavSection nav .navbar-item ul .active,
.NavSection nav .navbar-item ul li a:hover {
  color: #f7b614 !important;
}
/* end navbar-item */

/* start navbar-icon */
.NavSection nav .navbar-icon {
  width: 0;
}
.NavSection nav .navbar-icon ul li {
  margin-left: 15px;
}
.NavSection nav .navbar-icon .phone span {
  color: #f7b614;
  font-weight: 700;
  margin-left: 5px;
}
.NavSection nav .navbar-icon .fa-phone {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
/* end navbar-icon */
/* end nav  */


/* start content */
.img-cart {
  display: block;
  max-width: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
table tr td{
  border:1px solid #FFFFFF;    
}

table tr th {
  background:#eee;    
}

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}





.title {
  margin-bottom: 5vh
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
      margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 0.7rem
}

img {
  width: 3.5rem
}

.back-to-shop {
  margin-top: 4.5rem
}

h5 {
  margin-top: 4vh
}

hr {
  margin-top: 1.25rem
}

form {
  padding: 2vh 0
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  transition: none
}

.btn:hover {
  color: white
}

a {
  color: black;
  text-decoration: none !important;
}
.Qunt{
  background-color: #ececec !important;
  border-radius: 5px !important;
  padding: 4px 10px 6px 12px;
  color: black;
}
a:hover,.black {
  color: black;
  text-decoration: none
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}